body{
  font-family: Courier, Ariel;
  background-color: #f1f1f1;
}
/* HEADER    HEADER    HEADER    HEADER    HEADER */
.header{
  font-family: Courier, Ariel;
  color:#333;
  font-size: 40px;
  text-align: center;
  background-color: rgb(190, 186, 178);
  padding-bottom: 50px;
  padding-top: 50px;
}

/* NAVBAR    NAVBAR    NAVBAR    NAVBAR    NAVBAR */
ul {
    list-style-type: none;
    overflow: hidden;
    position: sticky;
    background-color: #333;
  }
  .navbar_item{
    display: block;
    font-size: 20px;
    color: rgb(245, 217, 124);
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-family: Courier;
  }

  .float_right{
    float: right;
  }

  .float_left{
    float: left;
  }

  .navbar_item:hover{
    background-color: black;
  }