body{
  font-family: Courier, Ariel;
  background-color: #1d1f21;
  color: #91a8e3;
}

/* HEADER    HEADER    HEADER    HEADER    HEADER */
.header{
  font-family: Courier, Ariel;
  color:#333;
  font-size: 50px;
  text-align: center;
  background-color: rgb(129, 141, 156);
  padding-bottom: 60px;
  padding-top: 50px;
}

/* NAVBAR    NAVBAR    NAVBAR    NAVBAR    NAVBAR */
.logo{
  width: 60px;
}

.logo:hover{
  background-color: black;
}
.navback {
    list-style-type: none;
    overflow: hidden;
    position: sticky;
    background-color: #333;
  }

  .navbar_item{
    display: block;
    font-size: 20px;
    color: rgb(245, 217, 124);
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-family: Courier;
  }

  .float_right{
    float: right;
  }

  .float_left{
    float: left;
  }

  .navbar_item:hover{
    background-color: black;
    color: #F59B00;
  }

  /*SIDE NAVIGATION    SIDE NAVIGATION    SIDE NAVIGATION    SIDE NAVIGATION*/
.sidenav{
  height: 100%;
  width: 0;
  position: absolute;
  top: 223px;
  bottom: 0px;
  left: 0px;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 80px;
  opacity: 0.8;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 60px;
  margin-left: 50px;
}

.sidenav .closebtn:hover{
  background-color: #111;
  font-size: 70px;
}

.sidenav a{
 font-family: Courier, Ariel;
 padding: 8px 8px 8px 32px;
 text-decoration: none;
 font-size: 25px;
 color: #F3B446;
 display: block;
 transition: 0.3s;
}

.sidenav a:hover{
  color: #F59B00;
  background-color: black;
}

.label-div{
  margin: 20px;
  color: #F3B446;
  font-size:20px;
}
input{
  font-size: 20px;
  margin-left: 20px;
}

/* GREETINGS    GREETINGS    GREETINGS    GREETINGS    GREETINGS    GREETINGS */
.cout{
  font-family: Courier, Ariel;
  color:#91a8e3;
  font-size: 50px;
  text-align: center;
  padding-bottom: 60px;
  padding-top: 50px;
}

/* DISPLAY PRODUCTS    DISPLAY PRODUCTS    DISPLAY PRODUCTS    DISPLAY PRODUCTS    DISPLAY PRODUCTS */
.container {
display: flex;
flex-wrap: wrap;
margin-left: 370px;
}
.product{
  /*margin-top: 20px;
  margin-left: 370px;
  margin-right: 370px;
  /* position: relative; */
  /*display: flex;
  height: 300px;
  border-style: solid;
  border-width: 2px;
  border-color: #91a8e3;*/
  padding: 25px;
}

.product-picture{

  border:1px solid blue;
  padding: 10px;
  width: 200px;
  height:200px;
}

.product-text{

  border:1px solid red;

  width: 220px;
}

.product-form{
  display: inline-block;
  border:1px solid green;
  height: 200px;
  width: 220px;

}
