
/*ABOUT    ABOUT    ABOUT    ABOUT    ABOUT    ABOUT*/
.lines{
    border-style: dotted;
    border-color: rebeccapurple;
    border-width: 5px;
  }
   .tec{
    color: blue;
    font-size: 30px;
  } 
  .abcde{
    margin: 200px;
    color: #A3D416;
    font-size:20px;
  }